{%extends 'layouts/master-layout.html'%}
{%block content%}
<section>
	<div class="container">
		<img class="img-fluid" src="{{url_for('static',filename='assets/images/login-ban.jpg')}}">
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="card my-card">
					<div class="p-3 site-bg">
						<h4 class="text-center m-0 text-white"><b>SELECT PAYMENT OPTION </b></h4>
					</div>
					<div class="card-body">
                        <form method="post">
                            <table class="table table-bordered table-sm">
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                                <tbody>						
                                    <tr>
                                        <td><input type="radio" name="payment_option_select" value="online"> Online Payment</td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="payment_option_select" value="offline"> Offline Payment</td>
                                    </tr>
									{% if wallet%}
										<tr>
											<td>
												<div class="form-check">
												  <label class="form-check-label">
													<input type="checkbox" name="is_use_wallet" class="form-check-input" value="1"> Are you want to use wallet
												  </label>
												</div>
											</td>
										</tr>
									{%endif%}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-success btn-block"> Proceed to next</button>
                        </form>	
				    </div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>
{%endblock%}