{%extends 'layouts/master-layout.html'%}
{%block meta%}
<title>Best Education Website in Malaysia | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}
{%block content%}
<style>

</style>
<section>
	<div class="for-computer">
		<img class="img-fluid" src="{{url_for('static',filename='assets/images/turbo-banner.jpg')}}">
	</div>
</section>
<section class="pb-5">
	<div class="red-bg pt-4 pb-4 text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h4 class="text-center m-0 p-0">SEMINAR SPM ONLINE</h4>
					<p class="text-center mb-3">BIOLOGI / FIZIK / ADD MATHS / KIMIA</p>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
		<h2 class="text-center"><a class="reg_btn" href="https://www.geniusedu.my/seminar/seminar-spm-add-math-chem-phy-bio-dwibahasa-5">Register</a></h2>
	</div>
</section>

<section>
	<div class="container">
		<div class="bg-fff p-3">
			<p>Hai! Terima kasih kerana berminat untuk menyertai SEMINAR TURBO SPM 2020 anjuran Genius Edu dan TAHNIAH kami ucapkan kerana anda adalah golongan yang bakal jadi cemerlang dan berjaya ✔</p>

			<h4>SIAPA GENIUS EDU?</h4>
			<img src="static/assets/images/logo-black.png">

			<p>Genius Edu berpengalaman selama 12 tahun membantu pelajar-pelajar skor A dengan cemerlang untuk peperiksaan SPM terutamanya Teras Sains. Kami bermula dengan operasi pusat tuisyen secara offline di Kajang dan kemudiannya melebarkan lagi sayap kami kepada platform online ini supaya kami dapat bantu lebih ramai pelajar untuk skor A dalam peperiksaan dan capai kejayaan. </p>

			<p>Oleh kerana sekolah bakal dibuka semula pada 24 Jun setelah 3 bulan cuti panjang di rumah, kami faham pelajar <b>MENGHADAPI MASALAH</b> berikut :</p>
			<p>Picture of a student hard to focus</p>

			<p>✔ <b>KURANG BERSEMANGAT</b> dan restart minda untuk belajar kerana terlalu lama berada di rumah</p>
			<p>✔ Menghadapi <b>KESUKARAN UNTUK FOKUS</b> kalau cuba ulangkaji sendiri</p>
			<p>✔ <b>TIADA RUJUKAN SAHIH</b> untuk bertanyakan soalan sekiranya tidak faham ketika belajar di rumah</p>
			<p>✔ <b>SUSAH MENGHAFAL dan SUDAH TIDAK PASTI DAN TIDAK INGAT TEKNIK DAN STRATEGI</b> menjawab soalan peperiksaan</p>
			<p>✔ <b>MALU BERTANYA</b> bila di kelas ketika belajar di sekolah.</p>

			<p>Semua masalah ini, Genius Edu akan bantu selesaikan dengan menjemput semua <b>PELAJAR SPM TERAS SAINS</b> untuk sertai <b>SEMINAR TURBO SPM 2020</b> (Teras Sains) yang bakal berlangsung pada 27 Jun dan 4 Julai ini.</p>
			<div class="text-center mb-3">
			<img class="img-fluid" width="400" src="{{url_for('static',filename='assets/images/seminar-poster.jpeg')}}">
			</div>

			<p><b>APA MANFAAT DAN KEBAIKAN SEMINAR TURBO SPM 2020 INI UNTUK PELAJAR?</b></p>
			<p>✔ CATCH UP semula pembelajaran topik-topik Teras Sains yang ketinggalan dengan mode 'turbo'. </p>
			<p>✔ REFRESH SEMULA setiap sub-topik keempat-empat tajuk dan fokuskan pada yang paling utama.</p>
			<p>✔ PEMBELAJARAN INTERAKTIF dan bukan sekadar mendengar. Pelajar boleh TANYA SOALAN DAN RUJUK PADA GURU DI RUANG CHAT KHAS sekiranya tidak faham sesuatu. Dalam mode 'text chat' atau 'voice-note'.</p>
			<p>✔ <b>AJARAN SECARA LIVE VIDEO</b> oleh cikgu bersama nota-nota superpack. Paling best, boleh <b>TONTON SEMULA</b> sekiranya ingin cuba ulangkaji sendiri!</p>

			<p>✔ <b>WHATSAPP SUPPORT GROUP</b> sekiranya mempunyai sebarang masalah. Team kami sedia membantu.</p>

			<p>✔ <b>SKILL MENGUASAI TEKNIK JAWAB SOALAN PEPERIKSAAN</b> oleh guru-guru yang amat berpengalaman membantu pelajar-pelajar berjaya dengan cemerlang sebelum ini.</p>

			<p>Kami jamin seminar ini akan bantu anda untuk kekal cemerlang dan LEBIH YAKIN UNTUK HADAPI PEPERIKSAAN SPM yang bakal tiba ❤</p>

			<p>Sekolah bakal dibuka, jadi <b>JANGAN BIARKAN DIRI KETINGGALAN PELAJARAN</b> dan izinkan Genius Edu bantu anda skor A di SEMINAR TURBO SPM 2020 ini ✔</p>

			<p><b>PENDAFTARAN</b></p>
			<p>Klik butang ini untuk mendaftar : <br>
			(Big button with text 'DAFTAR' to check out for payment)</p>

			<p><b>PERTANYAAN</b></p>
			<p>Sekiranya ingin bertanya atau ingin kami bantu pendaftaran, klik butang ini untuk Whatsapp kami :</p>
			<p>(2 buttons with link to whatsapp number : <br>
				- <a class="site-color" href="wasap.my/0127020040/DaftarSeminarSPMWeb"> wasap.my/0127020040/DaftarSeminarSPMWeb</a> <br>
				- <a class="site-color" href="wasap.my/60125160040/DaftarSeminarSPMWeb"> wasap.my/60125160040/DaftarSeminarSPMWeb</a>
			</p>

			<p>TERIMA KASIH!</p>

		</div>
	</div>
</section>

{%endblock%}
