{%extends 'layouts/master-layout.html'%}

{%block meta%}
<title>Best Education Website in Malaysia | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}

{%block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

        <!--================Home Banner Area =================-->
        
       <section>
    <img class="img-fluid" src="/static/assets/images/home.jpg">
    </section>
        
        <!--================End Home Banner Area =================-->
            
            
            <!--- ========start top header schedule section =========------------>
            <div class="container">
	            <div class="row">
		            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
		            	<div class="top-box-content">
			            <h2>Schedule Your Free Demo</h2>
			            <p>Here&apos;s how our demo process works:</p>
		            	</div>
		            </div>
	            </div>
            </div>
            <div class="box">
			    <div class="container">
			     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
               
					<div class="box-part text-center">
                        
                       <img src="/static/assets/images/web-design.png" alt="image">
                        
						<div class="top-title">
							<h4>Demo</h4>
						</div>
                        
						<div class="top-text">
							<span>Learn how the features and functions can help your organization.</span>
						</div>
                        
						<a href="#">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-12">
               
					<div class="box-part text-center">
					    
					     <img src="/static/assets/images/consulting.png" alt="image">
                    
						<div class="top-title">
							<h4>Consultation</h4>
						</div>
                        
						<div class="top-text">
							<span>Discuss your specific objectives with our online CE consultant.</span>
						</div>
                        
						<a href="#">Learn More</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-12">
               
					<div class="box-part text-center">
                        
                        <img src="/static/assets/images/right-arrow.png" alt="image">
                        
						<div class="top-title">
							<h4>Next Steps</h4>
						</div>
                        
						<div class="top-text">
							<span>Learn how the features and functions can help your organization.</span>
						</div>
                        
						<a href="#">Learn More</a>
                        
					 </div>
				</div>	 
				
				
		
		</div>		
    </div>
</div>
            
            <!--------===========End top header schedule section ============--->
            
               <!--------===========Start top header Evalute section ============--->
                
                <div class="container">
                <div class="evaluate-section">
	            <div class="row">
		            <div class="col-lg-7 col-md-7 col-sm-7 col-12">
		            	<div class="evaluate-content">
			            <h2>EVALUATE YOUR SUBJECT<br/>KNOWLEDGE</h2>
			            <p>Take a MyQrate Quiz and get a detailed evaluation report on your learned concepts.</p>
                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                             Start Quiz
                            </button>
                        </div> 
                    </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
		            </div>
	            </div>
            </div>
            </div>

            <!--------===========End top header Evalute section ============--->
            
        
            
             <!--------===========Start why section Evalute section ============--->
                
                <div class="container">
                <div class="why-tuition-section">
                	<div class="row">
                		<div class="col-md-12 col-12">
                		 <h2 class="why-tuition-heading text-right">WHY YOU SHOULD ATTEND</h2>
                		</div>
                	</div>
	            <div class="row">
	            
	              <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                      
		            </div>
		            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
		            	<div class="tuition-content">
		            	 
			          <li><img src="/static/assets/images/why-icon1.png" alt="icon">Experienced teachers</li>
			          <li><img src="/static/assets/images/why-icon2.png" alt="icon">BM & English sessions</li>
			          <li><img src="/static/assets/images/why-icon3.png" alt="icon">12 subjects from Form 4 & 5</li>
			          <li><img src="/static/assets/images/why-icon4.png" alt="icon">Highly examinable areas</li>
			          <li><img src="/static/assets/images/why-icon5.png" alt="icon">Targetd revision & exam preparation</li>
			         </div> 
                    </div>
                      
	            </div>
            </div>
            </div>

            <!--------===========End why section Evalute section ============--->
            
             <!--------===========End question section ============--->
            	
            	<div class="question-section">
                <div class="container">
            		<div class="row">
            			
                		<div class="col-lg-6 col-md-6 col-12">
                		 <h2 class="question-tuition-heading">Have a Question? Get in touch</h2>
                		</div>
                		<div class="col-lg-6 col-md-6 col-12">
                			  <a href="/contact"><button type="button" class="btn btn-primary">
                             Request a Call Back
                            </button></a>
                		</div>
                		</div>
                	</div>
                </div>	
           <!--------===========End question section ============--->
           
           
    <!-- Page Content -->
   <div class="container page-top">

                <div class="row">
           			<div class="col-md-12 col-12">
           				<h2 class="time-table-heading">Tuition Class Schedule</h2>
           			</div>
           		</div>
</div>
<div class="container page-top">
        <div class="row">

            <div class="col-lg-2   thumb">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class=" thumb time-table-image">
                <a href="/static/assets/images/time-table1.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="/static/assets/images/time-table1.jpeg" class="zoom img-fluid "  alt="">
                   
                </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                 
                     <div class=" thumb time-table-image">
                <a href="/static/assets/images/time-table2.jpeg"  class="fancybox" rel="ligthbox">
                    <img  src="/static/assets/images/time-table2.jpeg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class=" thumb time-table-image">
                <a href="/static/assets/images/time-table4.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="/static/assets/images/time-table4.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            </div>
            
            <div class="col-lg-2 col-md-4 col-6">
                <div class=" thumb time-table-image">
                <a href="/static/assets/images/time-table3.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="/static/assets/images/time-table3.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            </div>
            <div class="col-lg-2 thumb">
            </div>
           
           </div> 
    </div>
    
    
    
    
    	<!-- Start blog Area -->
        <div class="container">
			<section class="blog-area section-gap" id="blog">
				
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">What our students say</h1>
								<p>Hear direct from students about their experience of being a student at Seminar Genius... </p>
							</div>
						</div>
					</div>					
					<div class="row">
                        
                        <!-- Start video section--->
                        <div class="col-lg-4 col-md-4 col-6">
                        <div class="tuition-video-tag">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/mygeniusarena/videos/193625698257528/" width="100%" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" allowfullscreen="true"></iframe>
                        </div><!--seminar video tag-->
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                        <div class="tuition-video-tag">
                              <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/mygeniusarena/videos/1955679501401500/" width="100%" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" allowfullscreen="true"></iframe>
                        </div><!--seminar video tag-->
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                        <div class="tuition-video-tag">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/mygeniusarena/videos/467753213669107/" width="100%" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media" allowfullscreen="true"></iframe>
                        </div><!--seminar video tag-->
                        </div>
                      
                        
                        <!-- End video section-->
            </div>
	</section>
</div>	


   <!--============Start Testimonial slider=================-->
        
 <section class="testimonial-slider">
 <div class="container">
 <div class="testimonial-slider">
<div class="slideshow-container">

<div class="mySlides">
<img src="/static/assets/images/sucess1.png" alt="image">
  <q>The ideas and techniques taught in the seminar really helped me a lot. I got to know a lot more about answering techniques that really helped me to answer certain complicated questions. I was also able to solve a number of questions using the techniques that did not require memory.</q>
  <p class="author">- Mohd Harith</p>
</div>

<div class="mySlides">
<img src="/static/assets/images/sucess2.png" alt="image">
  <q>The seminar was very interactive as the lecturers also gave us a chance to answer questions there and then. I think that really helped me to figure out my mistake and also the common mistake we make unknowingly. I was able to recognize my mistakes and when I learn from mistakes , that’s when I stopped repeating it.</q>
  <p class="author">- Wang Wei</p>
</div>

<div class="mySlides">
<img src="/static/assets/images/sucess3.png" alt="image">
  <q>The notes really helped me a lot. When my examinations were just around the corner I used to fully depend on the notes and modules provided in the seminar for a quick revision. The simple and well elaborated notes gave me a better understanding. Since I am a person who is weak in memory work, these notes really helped me to understand well without the need of memorizing it.</q>
  <p class="author">- Nurul Hana</p>
</div>

<div class="mySlides">
<img src="/static/assets/images/sucess4.png" alt="image">
  <q>4.	As for me I would really say this seminar really enhanced my understanding and also love towards education. The lectures were really awesome as they were straight to the point and important facts. I would say that they taught me the right and best way to answer questions without clacking my head. The techniques emphasized in the seminar had opened my mind on ways to learn smart. The smart learning techniques were the key factors for me to answer question without fear in examination.</q>
  <p class="author">- Rakshita</p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>

<div class="dot-container" style="background: #f1f1f1;">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span>
</div>
    </div>
    </div>
 </section>	

 <script>
 $(document).ready(function() {
        $("#news-slider8").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        autoPlay:true
    });
});
 </script>
 

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
{%endblock%}