{%extends 'layouts/master-layout.html'%}

{%block meta%}
<title>Best Education Website in Malaysia | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}

{%block content%}
<style>
        .our_course{
            background: #fff;
        }
        .course_header{
            padding: 15px;
    		border-bottom: 1px solid #e6e6e6;
        }
        .course_body{
            padding: 15px;
            height: 204px;
        }
        .course_footer{
            padding: 15px;
            background: #FF4F57;
            color: #fff;
        }
    </style>

    <section>
    <img class="img-fluid" src="/static/assets/images/tuition.jpg">
    </section>

    <section class="mt-5 mb-5">
        <h3 class="text-center">OUR COURSES </h3>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="our_course">
                        <div class="course_header text-center">
                            <h5 class="m-0">YEAR 5 & UPSR</h5>
                        </div>
                        <div class="course_body">
                            <ul class="nav flex-column">
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> B.MELAYU</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> ENGLISH</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> MATHS</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> SCIENCE </li>
                            </ul>
                        </div>
                        <div class="course_footer text-center">
                            PRIMARY SCHEDULE 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our_course">
                        <div class="course_header text-center">
                            <h5 class="m-0">FORM 1, 2 & PT3</h5>
                        </div>
                        <div class="course_body">
                            <ul class="nav flex-column">
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> B.MELAYU</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> ENGLISH</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> MATHS</li>
                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> SCIENCE </li>
                            </ul>
                        </div>
                        <div class="course_footer text-center">
                            LOWER SECONDARY SCHEDULE 
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our_course">
                        <div class="course_header text-center">
                            <h5 class="m-0">YEAR 5 & UPSR</h5>
                        </div>
                        <div class="course_body">
                            <div class="row">
                            	<div class="col-6">
                            		<ul class="nav flex-column">
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> B.MELAYU</li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> ENGLISH</li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> MATHS</li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> SEJARAH </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> P.AKAUN </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> EKONOMI </li>
		                            </ul>
                            	</div>
                            	<div class="col-6">
                            		<ul class="nav flex-column">
                            		  <li class="nav-item pb-1"><i class="far fa-check-circle"></i> A.MATHS </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> PHYSICS </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> CHEMISTRY </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> BIOLOGY </li>
		                              <li class="nav-item pb-1"><i class="far fa-check-circle"></i> SCIENCE </li>
                            		</ul>
                            	</div>
                            </div>
                        </div>
                        <div class="course_footer text-center">
                            UPPER SECONDARY SCHEDULE 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start blog Area -->
        <div class="container">
			<section class="blog-area section-gap" id="blog">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h3 class="mb-10">OUR CENTER  </h3>
							</div>
						</div>
					</div>					
					<div class="row mt-3">
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img1.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img2.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img3.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img4.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img5.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img6.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img7.jpg">
		                    </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 mb-3">
                        	<a target="_blank" href="/static/assets/images/img1.jpg">
		                        <img class="img-fluid" src="/static/assets/images/img8.jpg">
		                    </a>
                        </div>
            		</div>
			</section>
		</div>	

	
{%endblock%}