<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myModal").modal({
            backdrop: 'static'
        });
    });
</script>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please select your section</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option value="volvo">Select Options</option>
                            <option value="volvo">Volvo</option>
                            <option value="volvo">Volvo</option>
                            <option value="volvo">Volvo</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">GO</button>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-body .btn {
        background-color: #009970;
        float: right
    }

    .modal-header h5 {
        color: #009970;
    }
</style>