{%extends 'dashboard/usersBoard/dashboard.html'%}
{%block meta%}
<title>Dashboard | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}
{%block content%}

{%endblock%}