{%extends 'layouts/master-layout.html'%}

{%block meta%}
<title>Register | Baba Ki Pathshaala</title>
<meta name="description" content="">
<meta name="keywords" content="">
{%endblock%}


{%block content%}
<section>
    <div class="container">
        <img class="img-fluid" src="{{url_for('static',filename='assets/images/login-ban.jpg')}}">
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card my-card">
                    <div class="card-body">
                        <h4 class="text-center">REGISTER</h4>
                        <hr>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                         {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %} 
                        <form method="post" class="{% if form.errors%} was-validated {%endif%} user-log-form"
                            novalidate>
                            {{ form.hidden_tag() }}

                            <div class="row">

                                <!-- <div class="form-group col-md-12 ">
                                    {{ form.user_type.label(class="top-label") }}
                                    <div class="form-control">
                                        {% for subfield in form.user_type %}
                                        <div class="custom-control custom-radio custom-control-inline">
                                            {{ subfield(id="customuRadioInline{}".format(loop.index), class="custom-control-input") }}
                                            {{ subfield.label(for="customuRadioInline{}".format(loop.index), class="custom-control-label") }}
                                        </div>
                                        {%endfor%}
                                    </div>
                                    {% for error in form.user_type.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div> -->

                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-8">
                                    {{ form.first_name.label(class="top-label") }}
                                    {{ form.first_name(maxlength=32,class="form-control") }}
                                    {% for error in form.first_name.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-8">
                                    {{ form.last_name.label(class="top-label") }}
                                    {{ form.last_name(maxlength=32,class="form-control") }}
                                    {% for error in form.last_name.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-8">
                                    {{ form.email.label(class="top-label") }}
                                    {{ form.email(maxlength=32,class="form-control") }}
                                    {% for error in form.email.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-2"></div>

                                <!-- <div class="form-group col-md-6 ">
                                    {{ form.gender.label(class="top-label") }}
                                    <div class="form-control">
                                        {% for subfield in form.gender %}
                                        <div class="custom-control custom-radio custom-control-inline">
                                            {{ subfield(id="customRadioInline{}".format(loop.index), class="custom-control-input") }}
                                            {{ subfield.label(for="customRadioInline{}".format(loop.index), class="custom-control-label") }}
                                        </div>
                                        {%endfor%}    
                                    </div>
                                    {% for error in form.gender.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div> -->

                                <div class="form-group col-md-8">
                                    {{ form.mobile.label(class="top-label") }}
                                    {{ form.mobile(class="form-control") }}
                                    {% for error in form.mobile.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-2"></div>
                                <div class="form-group col-md-2"></div>

                                <!-- <div class="form-group col-md-6">
                                    {{ form.parent_mobile.label(class="top-label") }}
                                    {{ form.parent_mobile(class="form-control") }}
                                    {% for error in form.parent_mobile.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div> -->
                                <style>

                                    #password{
                                        position: relative;
                                    }
                                   .show_pass{
                                    position: absolute;
                                    top: 42px;
                                    right: 23px;
                                   } 
                                   .hide_pass{
                                    position: absolute;
                                    top: 42px;
                                    right: 23px; 
                                   }
                                </style>

                                <div class="form-group col-md-8">
                                    {{ form.password.label(class="top-label") }}
                                    {{ form.password(class="form-control") }}
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    
                                    {% endfor %}
                                   
                                    <span class="replace_eye"><i class="icofont-eye show_pass"></i><i class="icofont-eye-blocked hide_pass"></i></span>
                                    
                                    
                                    
                                </div> 
                                <div class="form-group col-md-2"></div>
                                 <!-- <div class="form-group col-md-6">
                                    {{ form.confirm.label(class="top-label") }}
                                    {{ form.confirm(class="form-control") }}
                                    {% for error in form.confirm.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div> -->

                                

                                 <!-- <div class="form-group col-md-6">
                                    {{ form.school_name.label(class="top-label") }}
                                    {{ form.school_name(class="form-control") }}
                                    {% for error in form.school_name.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div> -->

                                
                            </div>
                            
                            <div class="form-group col-md-8 m-auto">
                                {{ form.submit(class="btn btn-success our-btn btn-block btn-lg") }}
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
{%endblock%}

{%block script%}
<script>
   /* $(document).ready(function(){
        var _which=$('[name="user_type"]:checked').val();
        register_user(_which);

        $("[name='user_type']").on('change',function(){
            var _which=$('[name="user_type"]:checked').val();
            register_user(_which);
        });
    });*/

 /*   function register_user(user_type){

            if(user_type=='prof'){
                $("input[name='zipcode']").parent().hide();
                $("input[name='school_name']").parent().hide();
                $("[name='address']").parent().hide();
                $("[for='parent_mobile']").text('Alternate Number');
            }
            if(user_type=='stu'){
                $("input[name='zipcode']").parent().show();
                $("input[name='school_name']").parent().show();
                //$("input[name='school_name']").attr('required','required');
                $("[name='address']").parent().show();
                $("[for='parent_mobile']").text('Parent Mobile');
            }

    }*/

</script>

{%endblock%}