{%extends 'layouts/master-layout.html'%}
{%block meta%}
<title>Dashboard | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}
{%block content%}
<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="mb-4">
          <div>
            <h4 class="blue-color"> Moderator Dashboard</h4>
          </div>
          {%include 'dashboard/members/dash-menu.html'%}
        </div>
      </div>
      <div class="col-md-7">
        <h5 class="mb-3">Upcoming Live Classes</h5>
        {% if online_live_classes_list%}
        {%for live_class in online_live_classes_list%}
        <div class="cls-box shadow-sm mb-3">
          <div class="row">
            <div class="col-md-12">
              <div class="pl-3 pr-3 pt-2 pb-2 cls-box-header">
                <p> {{live_class.course_name|safe|upper}} {{live_class.subject_name|safe|upper}}</p>
              </div>
              <div class="p-3">
                <h6 class="m-0 mb-2 text-danger">{{live_class.class_title|safe}}</h6>
                <small>{{live_class.user_name|title}}</small>
                <div class="mb-3">
                  <span class="badge badge-dark">{{live_class.create_date.strftime('%A %Y-%m-%d %H:%m:%S')}}</span>
                </div>
                <small class="mb-2">{{live_class.description|safe}}</small>
                <hr class="">
                <div class="text-right">
                   
                  <a href="{{url_for('monitor_live_class',cano_url=live_class.canonical_url)}}"
                    class="btn btn-dark btn-sm text-white">Monitor Class</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
        {%endif%}
        {% if demo_live_classes%}
        <hr/>
        <h5 class="mb-3">Demo Classes</h5>
        {%for live_class in demo_live_classes%}
        <div class="cls-box mb-3 shadow-sm">
          <div class="row">
            <div class="col-md-12">
              <div class="pl-3 pr-3 pt-2 pb-2 cls-box-header">
                <p>{{live_class.course_name}}</p>
              </div>
              <div class="p-3">
                <h6 class="m-0 mb-2 text-danger">{{live_class.class_title|safe}}</h6>
                <small>{{live_class.user_name|title}}</small>
                <div class="mb-3">
                  <span class="badge badge-dark">{{live_class.create_date.strftime('%A %Y-%m-%d %H:%m:%S')}}</span>
                </div>
                <small class="mb-2">{{live_class.description|safe}}</small>
                <div class="text-right">
                  <hr>
                  <a href="{{url_for('monitor_demo_class',cano_url=live_class.canonical_url)}}"
                    class="btn btn-dark btn-sm text-white">Monitor Class</a>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
        {%endfor%}
        {%endif%}
      </div>
    </div>
  </div>
</section>
{%endblock%}