{%extends 'layouts/master-layout.html'%}
{%block meta%}
<title>Dashboard | Free Online Live Tuition Classes - Genius EDU</title>
<meta name="description" content="Genius EDU one of the best education website in Malaysia. We offer freeonline livetuition classes to achieve their goals by providing creative, innovative and evaluative programs.">
<meta name="keywords" content="Online Tuition, Best Education Website in Malaysia, Online Live free Classes Malaysia">
{%endblock%}
{%block content%}
<section>
	<div class="container">
		<img class="img-fluid" src="{{url_for('static',filename='assets/images/login-ban.jpg')}}">
	</div>
</section>
<section>
	<div class="container pt-5 pb-5">
		
	  <div class="row">
		<div class="col-md-3">
		 <div>
      <h4 class="blue-color">Welcome Student</h4>
    </div>
		{%include 'dashboard/members/dash-menu.html'%}
  
		</div>
		<div class="col-md-9">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{category}}" role="alert">
				{{ message|safe }}
			</div>
			{% endfor %}  
			{% endif %}
			{% endwith %}
			<h5 class="mb-3">Seminars</h5>
			
		    {%if seminars_list%}
			{%for seminar in seminars_list%}
				<div class="cls-box mb-3">
				
				<div class="row">
				<div class="col-md-5">
					<!-- <img class="img-fluid" src="{{seminar.cover_banner}}"> -->
				</div>
				<div class="col-md-12">
					<div class="pl-3 pr-3 pt-2 pb-2 cls-box-header">
					<p>{{seminar.title}}  </p>
				</div>
					<div class="p-3">
					<h6 class="m-0 mb-2 text-danger">{{seminar.description}} </h6>
					 
					<div class="mb-3">
						<span class="badge badge-success">{{seminar.seminar_date}}</span>
						
					  </div>
					<small class="mb-2"> </small><br/>
					<hr>
					<div class="text-right">
						<a href="{{url_for('monitor_live_seminar',cano_url=seminar.canonical_url)}}" class="btn btn-success btn-sm">Monitor Seminar</a>
					</div>
				</div>
				</div>
				</div>
				
				</div>
			{%endfor%}
		{%endif%}
   
		</div>
	  </div>
	</div>
</section>
  
{%endblock%}