{%extends 'admin/layouts/master-layout.html'%}
{%block content%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Updat Password

      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		  <div class="alert alert-{{category}}" role="alert">
			{{ message|safe }}
		  </div>
		{% endfor %}
		{% endif %}
		{% endwith %}
      <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">

            <!-- /.box-header -->
			<!-- form start -->

            <form method="post" class="" novalidate>
            				{{ form.hidden_tag() }}
            				<div class="box-body">

                      <div class="form-group">
                          {{ form.old_password.label }}
                          {{ form.old_password(class="form-control") }}
                          {% for error in form.old_password.errors %}
                              <span style="color: red;">{{ error }}</span>
                          {% endfor %}
                      </div>

                    <div class="form-group">
                        {{ form.new_password.label }}
                        {{ form.new_password(class="form-control") }}
                        {% for error in form.new_password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class="form-control") }}
                        {% for error in form.confirm_password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
				              {{ form.submit(class="btn btn-success") }}
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{%endblock%}
