{%extends 'layouts/master-layout.html'%}
{%block content%}
<link rel="stylesheet" href="/static/assets/datetime/zebra_datepicker.min.css"/>
<script src="/static/assets/datetime/zebra_datepicker.min.js"></script>
<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h5 class="mb-3">Add Topic</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

        {%include 'dashboard/teacher/dash-menu.html'%}

      </div>

      <div class="col-md-9">
        <div class="cls-box p-3 mb-3">

          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}}" role="alert">
            {{ message|safe }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <form method="post" id="topic_form" enctype="multipart/form-data">
            <div class="row">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="col-md-12">
                <label>Cover upload</label>
                <div class="form-group">
                  <input type="file" name="cover_image" id="cover_image" class="form-control" accept=".png,.jpg,.jpeg" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="top-label">Course</label>
                  <select class="form-control" name="course" id="course">
                    {%if courses%}
                    <option value="">Choose Course</option>
                    {%for course in courses%}
                    <option value="{{course.id}}">{{course.course_name|safe|upper}}</option>
                    {%endfor%}
                    {%endif%}
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="top-label">Subject</label>
                  <select class="form-control" name="subject" id="subject">
                    <option value="">Subject</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="top-label">Topic Title</label>
                  <input type="text" class="form-control" name="class_title" id="class_title">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="top-label">Description</label>
                  <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <label class="top-label">Pick Date and Time</label>
              </div>
              <div class="col-md-6 mt-3">
                <div class="form-group">
                  <input id="create_date" name="create_date" type="text" class="form-control">
                </div>

              </div>
              <div class="col-md-12 mt-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Add Topic</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
<script>
  $(document).ready(function() {
    $("#course").on('change', function() {
      var course_id = $(this).val();
      if (course_id != '') {
        $.ajax({
          url: "/dashboard/ajax-fetch-subjects/" + course_id,
          success: function(response) {
            if (response.error != 0) {
              $("#subject").html(response);
            } else {
              $("#subject").html('<option>No subject</option>')
            }
          }
        });
      }
    });
  });
</script>
<script type="text/javascript">
  $('#create_date').Zebra_DatePicker({
    format: 'Y-m-d H:i:s'
  });
</script>
<script>
  $(document).ready(function() {
    $("#topic_form").validate({
      rules: {
      	cover_image:{
      		required:true,
      		accept: "image/*",
      	},
        subject: {
          required: true
        },
        course: {
          required: true
        },
        class_title: {
          required: true,
          minlength: 10,
          maxlength: 150
        },
        create_date: {
          required: true,
        },
      },
    });
  });
</script>
{%endblock%}
