{%extends 'layouts/master-layout.html'%}
{%block content%}
<section class="bg-whitex">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4 class="text-whitex text-center">The free class <span class="text-danger">{{live_class.class_title}}</span> <br>of Class<span class="text-danger"> {{live_class.course_name|title}} </span> and Subject <span class="text-danger"> {{live_class.subject_name|title}}</span> is not live yet. <br>The class is scheduled at <span class="text-danger">{{live_class.create_date.strftime('%A %Y-%m-%d %H:%m:%S')}}</span>.<br> Please check back at the scheduled time. You can <a style="color:#007bff;" href="/contact">contact us</a> for more information.</h4>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
    {%endblock%}