{%extends 'admin/layouts/master-layout.html'%}
{%block content%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> Create new package </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
		
      <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <!-- general form elements -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
            {{ message|safe }}
            </div>
          {% endfor %}  
          {% endif %}
          {% endwith %}
          <div class="box box-primary">
             
            <form method="post"  enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <div class="box-body">
                  <div class="form-group">
                      {{ form.seo_title.label }}
                      {{ form.seo_title(class="form-control") }}
                      {% for error in form.seo_title.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        {{ form.course_id.label }}
                        {{ form.course_id(class="form-control") }}
                        {% for error in form.course_id.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="box-body">
                  <div class="form-group">
                      {{ form.expire_month.label }}
                      {{ form.expire_month(class="form-control") }}
                      {% for error in form.expire_month.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

                <div class="box-body">
                  <div class="form-group">
                      {{ form.expire_year.label }}
                      {{ form.expire_year(class="form-control",id="datepicker") }}
                      {% for error in form.expire_year.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>


                <div class="box-body">
                  <div class="form-group">
                      {{ form.description.label }}
                      {{ form.description(class="form-control") }}
                      {% for error in form.description.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>


                <div class="box-body">
                  <div class="form-group">
                      {{ form.price.label }}
                      {{ form.price(class="form-control") }}
                      {% for error in form.price.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

                <div class="box-body">
                  <div class="form-group">
                      {{ form.is_crash_course.label }}
                      {{ form.is_crash_course(class="") }}
                      {% for error in form.is_crash_course.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

                <div class="box-body" id="dis_amt_div" style="display:none">
                  <div class="form-group">
                      {{ form.discount_amt.label }}
                      {{ form.discount_amt(class="form-control") }}
                      {% for error in form.discount_amt.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

                <div class="box-body">
                  <div class="form-group">
                      {{ form.cover_banner.label }}
                      {{ form.cover_banner(class="form-control") }}
                      {% for error in form.cover_banner.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </div>
                </div>

              

                <div class="box-footer">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
			
          
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{%endblock%}
{%block script%}
<script>
    // $(".select2").select2();
    $('#datepicker').datepicker({
      autoclose: true,
      format:'yyyy',
      minViewMode: 2,
    });

    $("input[type='checkbox']").on('click',function(){
        if($(this).is(':checked')){
            $('#dis_amt_div').show();
        }
        else{
             $('#dis_amt_div').hide();
        }
     })


    
</script>
{%endblock%}