{%extends 'admin/layouts/master-layout.html'%}
{%block content%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Member List
    </h1>
<!--  -->
  </section>

  <!-- Main content -->
  <section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">
      {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
      <!-- left column -->

      <div class="col-md-12">
        <div class="box box-primary">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Mobile</th>
                 
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {%for member in member_list%}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{member.first_name}} {{member.last_name}}</td>
                <td>{{member.email}}</td>
                <td>{{member.gender}}</td>
                <td>{{member.mobile}}</td>
                <td>
                  <a href="{{url_for('delete_member', id=member.id)}}" onclick="return confirm('Are you sure?')"><i class="fa fa-times"></i> </a>  
                </td>
              </tr>
             
              {%endfor%}
            </tbody>
          </table>
        </div>

      </div>

      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

{%endblock%}