{%extends 'admin/layouts/master-layout.html'%}
{%block content%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    {%if Livetopic%}
      ({{Livetopic.course_name|title}})----->({{Livetopic.subject_name|title}})
    </h1>
    {%endif%}
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
       
      <div class="col-md-12">
        <div class="box box-primary">
            
          <table class="table table-stripped" id="studentlist">
            <thead>
              <tr>
                <th>S.N</th>
                <th>Course</th>
                <th>Subject</th>
                <th>Topic</th>
                <th>Student Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
               
                {%for attendance in attendance_list%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{Livetopic.course_name|title}}</td>
                    <td>{{Livetopic.subject_name|title}}</td>
                    <td>{{Livetopic.class_title|title}}</td>
                    <td>{{attendance.first_name|title}}</td>
                    <td>{{attendance.email}}</td>
                    <td>{{attendance.mobile}}</td>
                    <td>{{attendance.date}}</td>
                </tr>
                {%endfor%}
            </tbody>
             
          </table>
        </div>
        
      </div>

      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

{%endblock%}
{%block script%}
   <script>
   
     
    $('#studentlist').DataTable( {
        dom: 'Bfrtip',
        buttons: [
           'csv', 'excel'
        ]
    } );
     
</script>
{%endblock%}